@model SahipsizHayvanlar1.Models.Durum

@{
    ViewBag.Title = "Edit";
 
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i> Durum Düzenle </h1>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"> Durumlar </li>
        <li class="breadcrumb-item active"><a href="#"> Durum Güncelle </a></li>
    </ul>
</div>

@using (Html.BeginForm("Edit", "Durums", FormMethod.Post, new { @id= "DurumEdit" }))
{
    @Html.AntiForgeryToken()

    <main>
        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <h3 class="title"> Durum Güncelle </h3>
                      <hr />
                    <div class="row">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.AcıklamaId)
                       
                        <div class="col-md-3">
                            <label>Protokol No</label>
                            @Html.DropDownList("IhbarId", ViewBag.ProtokolNoList as SelectList, "Lütfen Protokol No Seçiniz!", new { @class = "form-control select2" })

                            @Html.ValidationMessageFor(model => model.IhbarId, "", new { @class = "text-danger" })
                        </div>
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-3">
                            <label>Tarih</label>
                            @Html.TextBoxFor(model => model.DurumTarih, new { @class = "form-control datepicker", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.DurumTarih, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-3"> </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-md-6">
                            <label>Durum</label>
                            @Html.TextAreaFor(model => model.Aciklama, new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
                        </div>
                        <br />
                    </div>
                    <br />
                    <p>
                        <button class="btn btn success" type="submit" style="background-color:#28a745; color:#ffffff;">Kaydet</button>
                        @Html.ActionLink("Listeye Geri Dön","Index","Ihbars")
                    </p>

                </div>
            </div>
        </div>
    </main>
}
